<div class="record" data-id="<%= user.id %>">
  <p><b>ID: </b> <%= user.id %> - <b>Name: </b> <%= user.username %></p>
  <p><%= link_to 'Show', user_path(user) %> | <%= link_to 'Edit', edit_user_path(user) %> </p>
</div>
</br>